<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{17,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,12}}</string>
                <key>sourceSize</key>
                <string>{17,12}</string>
            </dict>
            <key>f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,0},{17,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,12}}</string>
                <key>sourceSize</key>
                <string>{17,12}</string>
            </dict>
            <key>f21.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,0},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>f22.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,0},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>f31.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,0},{25,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{25,21}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>f32.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,0},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>f41.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,23},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>f42.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,23},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>f51.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,23},{33,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{33,25}</string>
            </dict>
            <key>f52.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,23},{33,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{33,25}</string>
            </dict>
            <key>fa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,48},{26,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,19}}</string>
                <key>sourceSize</key>
                <string>{26,19}</string>
            </dict>
            <key>fa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,48},{26,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,19}}</string>
                <key>sourceSize</key>
                <string>{26,19}</string>
            </dict>
            <key>fd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,48},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>fd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,48},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{128,128}</string>
            <key>textureFileName</key>
            <string>fish_all.png</string>
        </dict>
    </dict>
</plist>
