<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>background/bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{59,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,90}</string>
			</dict>
			<key>background/bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,90},{59,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,90}</string>
			</dict>
			<key>background/bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,180},{59,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,90}</string>
			</dict>
			<key>background/bg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,270},{59,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,90}</string>
			</dict>
			<key>background/bg_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,360},{59,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,90}</string>
			</dict>
			<key>background/bg_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,450},{59,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,90}</string>
			</dict>
			<key>background/bg_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,540},{59,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,90}</string>
			</dict>
			<key>background/bg_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,630},{59,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,90}</string>
			</dict>
			<key>background/bg_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,720},{59,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,90}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>background.png</string>
			<key>realTextureFileName</key>
			<string>background.png</string>
			<key>size</key>
			<string>{64,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>